.loginSection {
  height: 100vh;
  
  label {
    font-family: var(--secondaryFont);
    color: var(--secondaryColor);
    font-weight: bold;
    height: initial !important;
  }
}
.inputLogin {
  border-radius: 4px;
  border: 1px solid #BCE0FD;

  input, .icon {
    color: var(--secondaryColor);
  }
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
  height: 48px;
  font-weight: bold;
  font-family: var(--secondaryColor);
}
.cardLogin {
  background-color: #fff;
  color: var(--secondaryColor);
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0 4px 5px 0 rgba(38, 153, 251,0.14), 
              0 1px 10px 0 rgba(38, 153, 251,0.12), 
              0 2px 4px -1px rgba(38, 153, 251,0.3);
}
.loginTitle {
  width: 100%;
  text-align: center;
  h3 {
    font-family: var(--secondaryFont);
    font-size: 30px;
    font-weight: bold;
    color: var(--secondaryColor);
  }
}