$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$backgroundColor: #F1F9FF;
$secondaryColor: #2699FB;
$secondaryForeColor: #fff;

:root {
  --primaryFont: #{$primaryFont};
  --secondaryFont: #{$secondaryFont};
  --backgroundColor: #{$backgroundColor};
  --secondaryColor: #{$secondaryColor};
  --secondaryForeColor: #{$secondaryForeColor};
}


body {
  font-family: $primaryFont;
  background-color: $backgroundColor;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ddsDashboard {
  height: 100vh;

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    margin: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.f {
  display: flex;
}

.f-c {
  flex-direction: column;
}

.f-ctr {
  justify-content: center;
}

.f-btw {
  justify-content: space-between;
}

.f-rht {
  justify-content: flex-end;
}

.mdl {
  align-items: center;
}

.f-w {
  flex-wrap: wrap;
}
.t-3s {
  transition: all .3s ease
}